<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-5">
        <div class="p-profile"></div>
      </div>
      <div class="col-sm-7">
        <span class="p-tag">Digital Marketing</span>
        <h1 class="mt-4">Sherra Luvian</h1>
        <p class="p-des mt-3 mb-4">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum.
        </p>
        <a href="#" class="p-readmore"
          >Read More <img
            src="assets/image/right-arrow.png"
            alt="The icon for read more"
            width="18" class="ml-2"
        /></a>
        <div>
            <h6>
                Subscribe to our Newsletter
            </h6>
            <form class="form-inline">
                <div class="form-group" autocomplete="off">
                    <input type="email" class="form-resize" id="email" placeholder="Enter your email here" autocomplete="off">
                    <button class="btn btn-warning">Subscribe</button>
                </div>
            </form>
        </div>
      </div>
    </div>
  </div>
</section>
